.filter {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-accents);

  @media only screen and (max-width: 640px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }

  .filter-input {
    display: flex;
    justify-content: center;
    gap: 1rem;

    img {
      transform: scale(0.8);
    }

    input {
      height: 50px;
      border: none;
      font-size: 16pt;
      width: 100%;

      @media only screen and (max-width: 640px) {
        font-size: 14pt;
      }
    }
  }

  select {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16pt;
    color: var(--text-accents);

    @media only screen and (max-width: 640px) {
      font-size: 14pt;
    }
  }

  .checkbox {
    display: flex;
    gap: 0.5rem;
  }
}
