.container {
  background: linear-gradient(
    to bottom,
    var(--primary-variant) 200px,
    var(--background) 200px
  );

  .width-wrapper {
    max-width: 920px;
    min-width: 320px;
    margin: 0 auto;

    header {
      color: white;
      width: 100%;
      padding: 80px 2rem 0 2rem;
    }

    main {
      height: 100%;
      min-height: 100vh;
      padding: 6rem 2em 0 4rem;

      .card-layout {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 4rem 2rem;
        justify-content: center;
        padding-bottom: 2rem;

        app-card {
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
}
