<div class="container">
  <div class="width-wrapper">
    <header>
        <h1>dev articles</h1>
        <app-filter
          (filterChanged)="filterArticles($event)"
          (sortChanged)="sortArticles($event)"
          (latestOnlyChanged)="filterLatest($event)"
        />
    </header>

    <main>
      <div class="main-content">
        <div *ngIf="articles$ | async as articles" class="card-layout">
          <app-card *ngFor="let article of articles" [article]="article"
            >{{ article.title }}
          </app-card>
        </div>
      </div>
    </main>
  </div>
</div>
