.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  /*background: linear-gradient(to bottom, var(--primary-variant) 20%, var(--background) 20%);*/

  header {
    height: 20vh;
    background-color: var(--primary-variant);
    color: white;
    display: flex;
    align-items: center;
    position: relative;

    .header-content {
      padding: 0 4rem 0 4rem;

      app-filter {
        display: block;
        position: absolute;
        bottom: -40px;
        width: 90%;
      }
    }
  }

  .main-content {
    height: 100%;
    min-height: 100vh;
    background-color: var(--background);
    padding: 6rem 4rem 0 4rem;

    .card-layout {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 4rem 2rem;
      justify-content: center;
    }
  }
}
