:host {
  height: 100%;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  border-right: 1rem;
  width: 100%;
  height: 100%;

  img {
    border-radius: 10px 10px 0 0;
    height: 120px;
  }

  .content {
    height: 100%;
    min-height: 200px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .author {
      display: flex;
      align-items: center;

      app-avatar {
        display: block;
        margin-right: 0.5rem;
      }

      .date-added {
        font-size: 0.8rem;
        color: var(--text-accents);
      }
    }

    .title {
      font-weight: bold;
      font-size: 1.2rem;
    }

    .likes {
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        background-color: #ffffff;
        border: 1px solid var(--primary);
        color: var(--primary);
        padding: 0.25rem 1rem;
        border-radius: 5px;
        font-size: 16pt;
        cursor: pointer;
      }

      button:hover,
      button.liked {
        background-color: var(--primary);
        color: #ffffff;
      }

      .number-of-likes {
        display: flex;
        align-items: center;
        color: var(--text-accents);
        gap: 0.5rem;

        img {
          height: 100%;
          transform: scale(0.75);
        }
      }
    }
  }
}
