<div class="card" *ngIf="article">
  <img
    *ngIf="article.images[0].landscape[0]"
    [ngSrc]="article.images[0].landscape[0] ?? ''"
    [width]="300"
    [height]="120"
    alt="article header picture"
  />
  <div class="content">
    <div class="author">
      <app-avatar [name]="article.author" />
      <div class="details">
        <div class="author-name">{{ article.author }}</div>
        <div class="date-added">{{ article.dateAdded | date: "d MMM" }}</div>
      </div>
    </div>
    <div class="title">{{ article.title }}</div>
    <div class="likes">
      <button (click)="toggleLike()" [class]="{'liked': liked}" type="button">LIKE</button>
      <div class="number-of-likes">
        <img [ngSrc]="'assets/heart-icon.svg'" [height]="30" [width]="30" alt="heart icon" />
        {{ liked ? article.likes + 1 : article.likes }} likes
      </div>
    </div>
  </div>
</div>
